
.row
  .columns
    %section
      %p
        = "Total games played: #{@game_count}"
    %h1 Player Leaderboard
    %table.hover
      %thead
        %tr
          %th{:width => "200"} Player
          %th{width: '150'} Played
          %th{:width => "150"} Won
          %th{:width => "150"} Lost
          %th{:width => "150"} Average
          %th{:width => "150"} ELO Rating
      %tbody
        - @players.each do |player|
          - next if (player.played.nil? || player.played < 5)
          %tr
            %td
              = player.name
            %td.leaderboard-table__games-played
              = player.played
            %td.leaderboard-table__games-won
              = player.won
            %td.leaderboard-table__games-lost
              = player.lost
            %td.leaderboard-table__games-average
              = "#{player.average.round(0)}%"
            %td.leaderboard-table__games-average
              = player.elo_ranking

.row
  .columns
    %h1 Teams Leaderboard
    %table.hover
      %thead
        %tr
          %th{:width => "200"} Team
          %th{width: '150'} Played
          %th{:width => "150"} Won
          %th{:width => "150"} Lost
          %th{:width => "150"} Average
          %th{:width => "150"} ELO Rating
      %tbody
        - @teams.each do |team|
          - next if (team.played.nil? || team.played < 5)
          %tr
            %td
              = team.name
            %td.leaderboard-table__games-played
              = team.played
            %td.leaderboard-table__games-won
              = team.won
            %td.leaderboard-table__games-lost
              = team.lost
            %td.leaderboard-table__games-average
              = "#{team.average.round(0)}%"
            %td.leaderboard-table__games-average
              = "#{team.elo_ranking}"
