%p
  = "#{@winners} said they beat you at Foosball.  Dammit!"

%p Is this true?

= link_to 'Click here to let them have their victory points', "#{root_url}winners/confirmation?winner[token]=#{@game.winner.token}"
%p The leaderboard won't be updated until one of you does.

%p Better luck next time.

%img{src: @loser_giphy}
