%p
  = "#{@winners} said they beat you at Foosball.  Damit."

%p Is this true?

= link_to 'Click here to let them have their victory points', "#{root_url}winners/confirmation?token=#{@game.winner.token}"

%p The leaderboard won't be updated until do.

%p Better luck next time.

