.small-12.columns#new-game-form.new-game-form
  = form_tag("/games", method: "post") do
    = label_tag(:teams, "Me and")
    = select_tag('game[team_ids][]', options_for_select(my_team_options), {class: 'my-team small-12 medium-2', prompt: 'choose team-mate', required: true})
    = label_tag(:teams, "beat")
    = select_tag('game[team_ids][]', nil, {class: 'other-player1 small-12 medium-3', prompt: 'choose opposing player', required: true})
    = label_tag(:teams, " and ")
    = select_tag('game[team_ids][]', nil, {class: 'other-player2 small-12 medium-3', prompt: 'choose other opposing player', required: true})
    = submit_tag("Yeah we did", id: 'submit-new-game')