.small-12.columns#new-game-form
  = form_tag("/games", method: "post") do
    = label_tag(:teams, "Me and")
    = select_tag('game[team_ids][]', options_for_select(my_team_options), {class: 'my-team', prompt: 'choose team-mate'})
    = label_tag(:teams, "beat")
    = select_tag('game[team_ids][]', options_for_select(other_team_options), {class: 'other-team', prompt: 'choose losing team'})
    = submit_tag("Yeah we did", id: 'submit-new-game')