!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "Content-Type" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, text/html; charset=UTF-8" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    - if player_signed_in?
      %p
        = "Hello #{current_player.name}"
      %img{ src: current_player.image }
    = yield
