!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "Content-Type" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, text/html; charset=UTF-8" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body

    - if flash[:notice]
      .callout.success.radius{"data-closable" => ""}
        = flash[:notice]
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×

    - if flash[:alert]
      .alert.callout.alert.radius{"data-closable" => ""}
        = flash[:alert]
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×

    - if flash[:success]
      .callout.success.radius{"data-closable" => ""}
        = flash[:success]
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×

    - if player_signed_in?
      .row
        .columns
          .small-2.columns
            %img{ src: current_player.image }
          .small-10.columns
            %p
              = "Hello #{current_player.name}"
    = yield
